black
celery[redis]
dj_database_url
django-celery-beat
django-jinja
django-ninja
django-sesame
django-two-factor-auth[phonenumberslite]
django-webpack-loader
Django>=4.0,<5.0
gunicorn
Jinja2
pip-tools
psycopg2
pytest-django
redis
sentry-sdk[django]
social-auth-app-django
stripe
whitenoise