{% extends 'base.jinja2' %}

{% block content %}
  Hello World

  <ul>
    <li><a href="/vue/test">Vue-router base</a></li>
    <li><a href="/api/whoami">API</a></li>
    <li><a href="/admin">Admin</a></li>
  </ul>
{% endblock %}